main {
    display: flex;
    justify-content: center;
    width: 100%; 
    min-height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
}
body {
    padding-bottom: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.centered-gif {
    display: block; 
    margin: 50px auto; 
}